Options +FollowSymLinks 
RewriteEngine On

# Apache config
<FilesMatch ".(eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>



Options -Indexes


ErrorDocument 404 http://localhost/public_html/404

RewriteRule ^index.html$ index.php [NC,L]
RewriteRule ^sss$ pages.php?sayfa=faq [NC,L]

RewriteRule ^iletisim(.*)$ pages.php?sayfa=contact&status=$1 [L,QSA]
RewriteRule ^iletisim$ pages.php?sayfa=contact [NC,L]
RewriteRule ^markalar$ pages.php?sayfa=clients [NC,L]
RewriteRule ^urunara(.*)$ pages.php?sayfa=search&search=$1 [L,QSA]


RewriteRule ^sepet$ pages.php?sayfa=cart [NC,L]
RewriteRule ^teslimat$ pages.php?sayfa=delivery [NC,L]
RewriteRule ^odeme$ pages.php?sayfa=purchase [NC,L]
RewriteRule ^purchasepost$ pages.php?sayfa=purchasepost [NC,L]

RewriteRule ^urun/(.*)/([0-9a-zA-Z-_]+)$ pages.php?sayfa=productdetail&urun_id=$1 [L,QSA]

RewriteRule ^urunler(.*)$ pages.php?sayfa=products&sirala=$1 [L,QSA]
RewriteRule ^urunler$ pages.php?sayfa=products [NC,L]

RewriteRule ^urun-kategori/(.*)/([0-9a-zA-Z-_]+)(.*)$ pages.php?sayfa=categorysub&cat_id=$1&sirala=$2  [L,QSA]
RewriteRule ^urun-kategori/(.*)/([0-9a-zA-Z-_]+)$ pages.php?sayfa=categorysub&cat_id=$1 [L,QSA]


RewriteRule ^blog/(.*)/([0-9a-zA-Z-_]+)$ pages.php?sayfa=blogdetail&blog_id=$1 [L,QSA]
RewriteRule ^bloglar/([0-9a-zA-Z-_]+)$ pages.php?sayfa=blog&page=$1 [L,QSA]
RewriteRule ^bloglar$ pages.php?sayfa=blog [NC,L]
RewriteRule ^hesap-numaralarimiz$ pages.php?sayfa=bank [NC,L]
RewriteRule ^insan-kaynaklari(.*)$ pages.php?sayfa=insankaynak&status=$1 [L,QSA]
RewriteRule ^insan-kaynaklari$ pages.php?sayfa=insankaynak [NC,L]

RewriteRule ^sayfa/([0-9a-zA-Z-_]+)$  pages.php?sayfa=htmlsayfa&id=$1 [L,QSA]
RewriteRule ^kurumsal/([0-9a-zA-Z-_]+)$  pages.php?sayfa=about&id=$1 [L,QSA]



RewriteRule ^siparis-basarili(.*)$ pages.php?sayfa=ordersuccess&status=$1 [L,QSA]
RewriteRule ^odeme-basarili(.*)$ pages.php?sayfa=paysuccess&status=$1&orderID=$2 [L,QSA]


RewriteRule ^404$ pages.php?sayfa=errorpage [NC,L]


RewriteRule ^uye-girisi$ pages.php?sayfa=userlogin [NC,L]
RewriteRule ^uyelik$ pages.php?sayfa=register [NC,L]
RewriteRule ^logining$ pages.php?sayfa=loginpost [NC,L]
RewriteRule ^registering$ pages.php?sayfa=registerpost [NC,L]
RewriteRule ^rememberpassword$ pages.php?sayfa=resetpasswordpost [NC,L]
RewriteRule ^resetchangepassword$ pages.php?sayfa=resetpasswordpostchange [NC,L]
RewriteRule ^uye-cikis$ pages.php?sayfa=userlogout [NC,L]
RewriteRule ^password-reset(.*)$ pages.php?sayfa=userrememberpasschange&key=$1 [L,QSA]
RewriteRule ^sifremi-unuttum$ pages.php?sayfa=userremember [NC,L]
RewriteRule ^uyelik/hesap-bilgileri$ pages.php?sayfa=useraccount [NC,L]
RewriteRule ^uyelik/sifre-degistir$ pages.php?sayfa=userpassword [NC,L]
RewriteRule ^uyelik/siparisler/(.*)$ pages.php?sayfa=userorders&page=$1 [L,QSA]
RewriteRule ^uyelik/siparisler$ pages.php?sayfa=userorders [NC,L]
RewriteRule ^uyelik/siparis/(.*)$ pages.php?sayfa=userordersdetail&order_id=$1 [L,QSA]
RewriteRule ^uyelik/kayitli-adresler$ pages.php?sayfa=useraddress [NC,L]
RewriteRule ^uyelik/adres-ekle$ pages.php?sayfa=useraddressadd [NC,L]
RewriteRule ^uyelik/adres-duzenle/(.*)$ pages.php?sayfa=useraddressedit&address_id=$1 [L,QSA]
RewriteRule ^uyelik/adres-sil/(.*)$ pages.php?sayfa=useraddressedelete&address_id=$1 [L,QSA]
RewriteRule ^uyelik/destek/(.*)$ pages.php?sayfa=usersupport&page=$1 [L,QSA]
RewriteRule ^uyelik/destek$ pages.php?sayfa=usersupport [NC,L]
RewriteRule ^uyelik/destek-incele/(.*)$ pages.php?sayfa=usersupportdetail&support_id=$1 [L,QSA]

RewriteRule ^uyelik/yorumlar/(.*)$ pages.php?sayfa=usercomment&page=$1 [L,QSA]
RewriteRule ^uyelik/yorumlar$ pages.php?sayfa=usercomment [NC,L]
RewriteRule ^productaddcomment$ pages.php?sayfa=productaddcomment [NC,L]
RewriteRule ^productloginpage$ pages.php?sayfa=productloginpage [NC,L]


RewriteRule ^teklif-formu$ pages.php?sayfa=offer [NC,L]
RewriteRule ^offerpost$ pages.php?sayfa=offerpost [NC,L]
RewriteRule ^siparis-takip$ pages.php?sayfa=tracing [NC,L]
RewriteRule ^siparis-sorgu(.*)$ pages.php?sayfa=tracingresult&orderNo=$1 [L,QSA]
RewriteRule ^sitemap.xml$ includes/template/sitemap.php
RewriteRule ^urun-marka/(.*)$  pages.php?sayfa=urunmarkasi&id=$1&page=$2 [L,QSA]

RewriteRule ^xmlOutput/googlemerchant/(.*)$ includes/xmlOutput/google_merchant.php?url=$1 [L,QSA]
RewriteRule ^xmlOutput/standart/(.*)$ includes/xmlOutput/standart.php?url=$1 [L,QSA]
